.contacts__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: left;
  color: $black;
}

.contacts__mail {
  text-align: left;
}

.contacts__link {
  color: $greyish-brown;
}

.contacts__address {
  display: flex;
}

.contacts__office {
  max-width: 165px;
  padding-left: 20px;
  text-align: left;
}

.contacts__container {
  padding: 0;
}

.contacts__img {
  height: 457px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: brown;
}

.contacts__btn {
  margin: 20px 0;
  display: block;
  border: 2px solid $black;
  padding: 10px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    font-size: 43px;
    line-height: 1.16;
  }

  .contacts__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 17px;
    line-height: 1.76;
  }

  .contacts__office {
    max-width: 180px;
  }

  .contacts__btn {
    max-width: 250px;
    margin: 20px auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts__title {
    font-size: 53px;
    line-height: 1.08;
  }

  .contacts__text {
    flex-direction: column;
  }

  .contacts__container {
    position: relative;
  }

  .contacts__img {
    position: absolute;
    right: $container-padding-tablet;
    bottom: 0;
    width: 525px;
  }
}
