.product-entry__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  color: #000000;
}

.product-entry__status {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  color: #63d1bb;
}

.product-entry__description {
  line-height: 1.6;
}

.product-entry__table {
  line-height: 1.33;
}

.product-entry___price {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
}
