.product-card__title a {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  color: $black;
}

.product-card__character {
  font-size: 13px;
  line-height: 2.31;
  color: $greyish-brown;
}

.product-card__price {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.6;
}
