.reviews__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  color: $black;
}

.reviews__author-name {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  color: $black;
}

.reviews__author-mail {
  line-height: 1.76;
}
