.video {
  margin-bottom: 58px;
  border: 1px solid $whitetwo;
}

.video__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
}

.video__description {
  font-size: 13px;
  line-height: 1.85;
}

@media (min-width: $tablet-width) {
  .video {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .video__title {
    font-size: 20px;
    line-height: 1.2;
  }

  .video__column {
    order: -1;
  }

  .video__description {
    font-size: 15px;
    line-height: 2;
  }

  .video__img {
    width: 668px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    position: relative;
    align-items: flex-end;
  }

  .video__title {
    margin-top: 100px;
    margin-right: 130px;
    max-width: 150px;
    text-align: left;
  }

  .video__column {
    position: absolute;
    top: 0;
    left: 0;
  }

  .video__wrapper {
    width: 280px;
    padding-top: 20px;
    padding-right: 55px;
  }

  .video__description {
    text-align: left;
  }

  .video__img {
    width: 682px;
  }

  .video__btn {
    display: flex;
    margin-top: 40px;
    margin-bottom: 50px;
  }
}
